* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

/* =============================
   VARIÁVEIS DE TEMA
============================= */
:root{
  --text-color: #1A1A1A; /* cinza bem escuro */
  --bg-color: #B0E0E6;   /* azul bebê clarinho */
  --panel-bg: rgba(255, 255, 255, 0.5); /* fundo transparente dos cards */
}

/* =============================
   BODY
============================= */
body {
  background-color: var(--bg-color);
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

body * {
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

/* =============================
   CONTAINER
============================= */
#container {
  max-width: 360px;
  margin: 20px auto;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center; 
  border-radius: 8px;

  padding: 0 24px;
}

/* =============================
   PERFIL
============================= */
#profile img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

#profile {
  text-align: center;
  padding: 24px;
}

/* =============================
   LINKS DA LISTA / CARDS
============================= */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;
  background: var(--panel-bg);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
  color: var(--text-color);
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.3);
  border: 1.5px solid var(--text-color);
}

/* =============================
   REDES SOCIAIS
============================= */
#social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;
  border-radius: 50%;

  transition: 0.3s;
  color: var(--text-color);
}

#social-links a:hover {
  background: rgba(160, 89, 89, 0.2);
  border-radius: 50%;
}

/* =============================
   RODAPÉ
============================= */
footer{
  padding: 24px 0;
  text-align: center;
}

/* =============================
   SOBRE NÓS
============================= */
#sobre-nos {
  margin-top: 24px;
  padding: 20px;
  background: var(--panel-bg);
  
  border-radius: 12px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-align: center;
}

#sobre-nos h2 {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: bold;
}

#sobre-nos p {
  font-size: 16px;
  line-height: 1.5;
}
